<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Inventory</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>loadTable</servlet-name>
    <servlet-class>loadTable</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loadTable</servlet-name>
    <url-pattern>/loadTable</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loadCustTable</servlet-name>
    <servlet-class>loadCustTable</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loadCustTable</servlet-name>
    <url-pattern>/loadCustTable</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loadSeller</servlet-name>
    <servlet-class>loadSeller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loadSeller</servlet-name>
    <url-pattern>/loadSeller</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loadCategory</servlet-name>
    <servlet-class>loadCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loadCategory</servlet-name>
    <url-pattern>/loadCategory</url-pattern>
  </servlet-mapping>
  
</web-app>